@import '../../../node_modules/jeet/stylus/jeet/index.styl'
@import '../../../node_modules/normalize-styl/index.styl'

body
  margin: 0

#main .text-area
  width: 50%
  float: left

#main .editor-area
  width: 50%
  float: left

#auth
  center(300px)

.contents__item
  color: #cccccc

  &:hover
    color: #000
    cursor: pointer