@import '../../../node_modules/jeet/stylus/jeet/index.styl'
@import '../../../node_modules/normalize-styl/index.styl'

main-bgcolor = #EEEEEE

body
	margin: 0
	height: 100%

#main
	background-color: main-bgcolor
	min-height: 100%

.contents
	padding: 2rem

.contents__wrapper
	center(600px)
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, .1)

#main .text-area
	width: 50%
	float: left

#main .editor-area
	width: 50%
	float: left

#auth
	center(300px)

.contents__item
	color: #cccccc

	&:hover
		color: #000
		cursor: pointer