@import '../../../node_modules/jeet/stylus/jeet/index.styl'
@import '../../../node_modules/normalize-styl/index.styl'

body
  margin: 0

#text-area
  column(0.485)

#editor
  column(0.485)

  textarea
    width: 100%
    border: 0

#auth
  center(300px)

.contents__item
  color: #cccccc

  &:hover
    color: #000
    cursor: pointer